body {
  background-color: #222831;
  color: #e8e8e8;
  font-family: 'Lato', sans-serif;
}

h1{
  color: white;
}

h2{
  color: white;
}

h3{
  color: white;
}

input{
  background-color: #30475e;
}

textarea{
  background-color: #30475e;
}

hr {
  border: none;
  border-top: 7px;
  border-top-style: dotted;
  border-top-color: #30475e;
  width: 5%;
}

a:focus {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #f05454;
}

a:visited {
  color: #f07854;
}

a:hover {
  background-color: #fc8f8f;
}

a:visited {
  color: #d62e2e;
}

td {
  padding: 15px;
}
